<div class="row">
  <div class="col-md-12">
    <div>
      {{#each projects}}
      <h2>{{project_name}}</h2>
      <h4>Amount of Tasks: {{tasks.length}}</h4>
      <h4>Complete Date: {{complete_date}}</h4>
      <h6>Description: {{description}}</h6>
      {{/each}}
    </div>
  </div>
</div>