<div class="card card-1 col-md-12 bg-success m-4 p-4">
    <div class="card bg-dark m-3 p-2">
        <h3 class="card-header border-success text-white">Create Account</h3>
    <form class="form login-form">
        <div class="input-group bg-success m-1">
            <span class="input-group-text bg-success text-white m-1" id="">Username</span>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="input-group bg-success m-1">
            <span class="input-group-text bg-success text-white m-1" id="">E-Mail</span>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="input-group bg-success m-1">
            <span class="input-group-text bg-success text-white m-1" id="">Password</span>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="input-group m-1">
            <span class="input-group-text bg-success text-white m-1" id="">Manager</span>
            <input type="checkbox" class="form-control" id="manager">
        </div>
        </div>
        <button class="btn btn-dark m-1">Create Account</button>
    </form>
</div>
<script src="/js/signup.js"></script>