<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dev Bulletin</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<nav  class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid p-2 ">
    <a class="navbar-brand" href="/"><h3 class="text-white">Dev Bulletin</h3></a>
    <ul class="navbar-nav">
      <li class="nav-item">
          {{#if logged_in}}
           <button type="button" class="btn btn-dark" id="logout">Log-Out</button>
           <a href="/dev"><button type="button" class="btn btn-dark">Profile</button></a>
          {{else}}
            <a type="button" href="/login"><button  class="btn btn-dark">Log In</button></a>
          {{/if}}
    </ul>
  </div>
</nav>
  <body class="bg-dark">
      {{{body}}}
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   {{#if logged_in}}
   <script src="/js/logout.js"></script>
   {{/if}}

</html>