<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">First and last name</span>
        </div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
    </div>
</div>