<div class="card card-1 col-md-12">
    <div class="card bg-light mb-3">
        <h3 class="card-header">Login</h3>
    <form class="card-body" id="login-form">
        <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" id="email-login">
        </div>
        <div class="input-group">
            <span class="input-group-text">Password</span>
            <input type="text" class="form-control" id="password-login">
        </div>
        <button>Login</button>
    <form action="submit">
        <p>At this time we are not accepting new applications.</p>
    </div>
                <a class="disabled">Don't Have An Account? Sign-up</a>
</div>