<div class="border center">
    <div class="card bg-light mb-3 center" style="max-width: 18rem;">
        <h3 class="card-header center">Login</h3>
    <div class="card-body center">
        <h5 class="card-title center">Light card Title</h5>
        <div class="input-group center">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Username</span>
                <input type="text" class="form-control">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>