<div class="card card-1 col-md-12">
    <div class="card bg-light mb-3">
        <h3 class="card-header">Login</h3>
    <div class="card-body">
        <div class="input-group">
            <span class="input-group-text" id="">Username</span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="">Password</span>
            <input type="text" class="form-control">
        </div>
        </div>
        <button>Login</button>
        <p>At this time we are not accepting new applications.</p>
        <a class="disabled">Don't Have An Account? Signup</a>
    </div>
</div>