<div class="card card-1 col-md-12">
    <div class="card bg-light mb-3">
        <h3 class="card-header">Create Account</h3>
    <div class="card-body">
        <div class="input-group">
            <span class="input-group-text" id="">Username</span>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="">E-Mail</span>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="">Password</span>
            <input type="text" class="form-control" id="password">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="">Manager</span>
            <input type="checkbox" class="form-control" id="manager">
        </div>
        </div>
        <button>Create Account</button>
    </div>
</div>
<script src="./js/signup.js"></script>